.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

// Colors variables
// primary colors

$lightRed: hsl(0, 100%, 67%);
$orangeyYellow: hsl(39, 100%, 56%);
$greenTeal: hsl(166, 100%, 37%);
$cobaltBlue: hsl(234, 85%, 45%); 

// gradients

$lightSlateBlue: hsl(252, 100%, 67%); //background
$lightRoyalBlue: hsl(241, 81%, 54%); //background

$violetBlue: hsla(256, 72%, 46%, 1); //circle
$persianBlue: hsla(241, 72%, 46%, 0); //circle

// neutrals

$white: hsl(0, 0%, 100%);
$paleBlue:  hsl(221, 100%, 96%);
$lightLavender: hsl(241, 100%, 89%);
$darkGrayBlue: hsl(224, 30%, 27%);


body {
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}
.result {
    background-image: linear-gradient($lightSlateBlue, $lightRoyalBlue);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: $white;
    text-align: center;

    .your-result {
        margin-block: 0;
        padding: 1.5rem 0 1.5rem;
        font-size: 1.25rem;
        font-weight: 500;
    }

    .score{
        background: linear-gradient($lightSlateBlue, $lightRoyalBlue);
        border: 10px;
        border-radius: 50%;
        width: 12rem;
        height: 12rem;
        align-items: center;
        margin: 0 auto;
        .percentage{
         margin-block-end: 0;
         margin-block-start: 0;
         color: hsl(246, 93%, 71%);
        }
        .hundred{
            display: block;
            color: $white;
            font-weight: 800;
            font-size: 5rem;
            padding-top: 2.5rem;

        }

    }

    .encourage {
        display: block;
        color: $white;
        font-size: 1.75rem;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        font-weight: 700;
    }
    p {
        color: $lightLavender
    }

    .percentile {
        padding: 0 3rem;
        padding-bottom: 3rem;
    }
}

.summary{
    padding: 0 1.25rem ;
    background-color: $white;
    p{
        padding: 1rem 0;
        font-size: 1.2rem;
        color: $darkGrayBlue;
        font-weight: 700;
        margin-block-end: 0;
        margin-block-start: 0;
    }
    .skill {
        padding: 1rem;
        display: flex;
        align-content: space-between;
        margin-bottom: 1rem;
        border-radius: 10px;
        border: 2px;
        .competence {
            padding-left: 0.75rem;
        }
        .metric{
            margin-left: auto;
            color: hsl(232, 8%, 61%);
            font-weight: 700;
            .number{
                color: hsl(234, 13%, 28%);
            }
        }
    }

    .reaction{
        background: hsla(0, 100%, 67%, 0.1);
        color: $lightRed;
    }

    .memory{
        color: $orangeyYellow;
        background-color: hsla(39, 100%, 56%, 0.1);
    }

    .verbal {
        color:$greenTeal;
        background-color: hsla(166, 100%, 37%, 0.1);
    }

    .visual {
        color: $cobaltBlue;
        background-color: hsla(234, 85%, 45%, 0.1);
    }
    .continue {
        margin-bottom: 1rem;
        
        .button{
            padding: 1rem;
            width: 100%;
            background-color: $darkGrayBlue;
            color: $white;
            font-size: 1.2rem;
            border-radius: 25px;
            border: none;
        }
    }

}

@media only screen and (min-width: 1024px) {
    body {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 25rem 20rem;

        .result {
            padding: 3rem 3rem;
            border-radius: 35px;

            .percentile {
                padding: 0 2.5rem;
            }

            .your-result {
                font-size: 2.5rem;
            }
        }

        .summary {
            padding-top: 5rem;
            padding-left: 3rem;
            padding-right: 3rem;

            p {
                font-size: 2rem;
            }

            .skill {
                padding: 1rem ;
            }

            .button:hover {
                cursor: pointer;
                background-color: $lightRoyalBlue;
            }
        }
    }

}